body{
  background-color: rgb(177, 193, 238);
}

h1{
  margin-top: 2vh;
  margin-left: 8vw;
  animation: fadeIn ease 3s;
  font-size: clamp(30px, 10vw, 60px);
}

p {
  margin-left: 4vw;
  margin-right: 1vw;
  font-size: clamp(20px, 2.5vw, 30px);
}

.intro{
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.meImg{
  margin-left: 5vw;
  margin-right: 3vw;
  border-radius: 10%;
  height:auto;
  width: 45vw;
  float: left;
}

.slideIn{
  position: absolute;
  animation-name: slideIn;
  animation-duration: 1s;
}

@keyframes slideIn{
  from{transform: translateX(100vw)}
  to{transform: translateX(0vw)}
}

.scrabblePage{
    font-family: 'Franklin Gothic Medium', 'sans-serif';
    margin-bottom: 2vh;
    background-color: rgb(192, 216, 255);
}

.board{
    display: grid;
    grid-template-columns: repeat(15, 6vw);
    margin-left: 5vw;
    margin-bottom: 1vh;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    background-color: rgb(221, 220, 155);
    height: 6vw;
    text-align: center;
    font-size: 4vw;
}

.square:hover::before{
    background-color: rgb(91, 156, 100);
    content: attr(data-tooltip);
    transform: translateY(-100%);
    font-size: 2vw;
    width: 6vw;
}

.inline {
    display: inline;
  }
  
.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
  }

.link-button:focus {
    outline: none;
  }
  
.link-button:active {
    color:red;
  }

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexItem{
  flex-grow: 1;
  min-width: 300px;
  max-width: 48vw;
  background-color: rgba(82, 168, 238, 0.294);
  margin: 2vw;
  padding: 1vw;
  font-size: clamp(8px, 2.5vw, 25px);
  border-radius: 0.5rem;
}

#scrabbleForm{
  max-height: 100vh;
}

#scrabbleWords{
  overflow: scroll;
  overflow-x: hidden;
}

.inputIsNumber{
  -moz-appearance:textfield;
}

.inputIsNumber::-webkit-outer-spin-button,
.inputIsNumber::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.flexItem button{
  margin-top: 2px;
  width: 15vw;
  max-height: 5vw;
  font-size: clamp(1.5vw, 1.5vw, 3px);
}
