.scrabblePage{
    font-family: 'Franklin Gothic Medium', 'sans-serif';
    margin-bottom: 2vh;
}

.board{
    display: grid;
    grid-template-columns: repeat(15, 6vw);
    margin-left: 5vw;
    margin-bottom: 1vh;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    background-color: rgb(221, 220, 155);
    height: 6vw;
    text-align: center;
    font-size: 4vw;

    /* position: relative; */
}

.square:hover::before{
    background-color: rgb(91, 156, 100);
    content: attr(data-tooltip);
    transform: translateY(-100%);
    font-size: 2vw;
    width: 6vw;
}

.inline {
    display: inline;
  }
  
.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
  }

.link-button:focus {
    outline: none;
  }
  
.link-button:active {
    color:red;
  }

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexItem{
  flex-grow: 1;
  min-width: 300px;
  max-width: 48vw;
  background-color: rgba(82, 168, 238, 0.294);
  max-height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
  margin: 2vw;
  padding: 1vw;
  font-size: clamp(2vw, 2vw, 10px);
  border-radius: 0.5rem;
}

.inputIsNumber{
  -moz-appearance:textfield;
}

.inputIsNumber::-webkit-outer-spin-button,
.inputIsNumber::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.flexItem button{
  margin-top: 2px;
  width: 15vw;
  max-height: 5vw;
  font-size: clamp(1.5vw, 1.5vw, 10px);
}
