/* General attributes */

body{
  padding-top: 50px;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: rgb(177, 179, 184);
}

h1{
  text-align: center;
  animation: fadeIn ease 3s;
  font-size: clamp(25px, 8vw, 50px);
}

p {
  margin-left: 4vw;
  margin-right: 1vw;
  font-size: clamp(20px, 2.5vw, 30px);
}

i {
  padding-right: 5px;
  padding-left: 5px;
}

a {
  color:rgb(22, 61, 134);
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  text-decoration: underline;
  font-weight: 900;
  color:rgb(27, 85, 51);
}

.gitlink {
  text-align: center;
}

/* Home.html attributes */
.img-div{
  padding-top: 3vh;
  width: 100vw;
  background-color:rgb(36, 57, 95);
  transform: translateX(-5vw);
}

.meImg{
  padding: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  height:auto;
  width: 50%;
  max-width: 400px;
  /* transform: translateX(-5vw); */
  /* float: left; */
}

/* Scrabbler.html element attributes */

.scrabblePage{
  /* This is a scrabble looking font aparently */
    font-family: 'Franklin Gothic Medium', 'sans-serif';
    margin-bottom: 2vh;
}

.scrabbleDropdown{
  text-align: center;
  margin-bottom: 1vh;
}

.board{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(15, 3vh);
    margin-bottom: 1vh;
    text-align: center;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 251, 230);
    height: 3vh;
    width: 3vh;
    text-align: center;
    font-size: 2.5vh;
}

.square:hover::before{
    background-color: rgb(91, 156, 100);
    content: attr(data-tooltip);
    transform: translateY(+100%);
    transform: translateX(+50%);
    font-size: 2vw;
    width: 6vw;
}

.inline {
    display: inline;
  }
  
.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
  }

.link-button:focus {
    outline: none;
  }
  
.link-button:active {
    color:red;
  }

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.scrabbleWords{
  font-size: clamp(12px, 1.5vw, 25px);
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
  height: 50vh;
  max-height: 50vh;
  /* max-width: 50vw; */
  background-color:rgb(174, 179, 223);
}

.inputIsNumber{
  -moz-appearance:textfield;
}

.inputIsNumber::-webkit-outer-spin-button,
.inputIsNumber::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

/* Skills page attributes */

.skills-img{
  width: 90%;
  height: auto;
}

.subheading{
  margin-top: 2vh;
  margin-left: 10vw;
  animation: fadeIn ease 3s;
  font-size: clamp(20px, 4vw, 45px);
}

/* CatSpot */

.catSpotImg {
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Animations */

.slideIn{
  position: absolute;
  animation-name: slideIn;
  animation-duration: 1s;
}

@keyframes slideIn{
  from{transform: translateX(100vw)}
  to{transform: translateX(0vw)}
}

.fadeIn{
  animation-name: fadeIn;
  animation-duration: 4s;
}
@keyframes fadeIn{
  from{opacity:0}
  to{opacity:1}
}