{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Last Cat Spot: </h1>
<img src="{{url_for('static', filename='imgs/catSpots/lastCatSpot.jpg')}}" class='catSpotImg' alt='error loading catSpot img'>
<p>{{lastCatSpot}}</p>

<p class='gitlink'>Read the code: <a href="https://github.com/ed100miles/CatSpot" target="blank"><i class="fab fa-github"></i></a></p>

<h3>Previous Spots:</h3>
{% for spot in previous_spots %}

<p>
    {{spot}}
</p>
{% endfor %}

{% endblock %}

