{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="fadeIn">
    <div class="img-div">
        <h1 class="home-header">Hi! I'm Ed Miles... </h1>
        <img src="{{url_for('static', filename='/imgs/me.JPG') }}" class="meImg">
    </div>

    <div>
        <br>
        <p>Thanks for visiting my site.</p>

        <p>I live in London and currently work in finance. But since buying my first Raspberry Pi a few 
             years ago, all I've wanted to do is code. I've mainly been learning Python, but I've picked up 
            lots of other <a href="{{ url_for ('skills')}}">skills</a> along the way. 
        </p>

        <p>
            Now I want to turn my hobby into a career. 
        </p>
        
        <p>
            So if you're looking for someone smart, hard working and eager to keep on learning, 
            please send me an <a href="mailto:edmilestech@gmail.com">email</a>.
        </p>

        <p>
            If you're interested in seeing what I can do, you should check out my projects: 
        </p>
        
        <ul style="list-style-type:none;">
            <li>
                <p><i class="fas fa-cat"></i><a href="{{ url_for ('catSpot')}}">Cat Spot</a> uses a TensorFlow/Keras convolutional neural network I built to help me see when my cats last came home.</p>
            </li>
            <li>
                <p><i class="fas fa-chart-line"></i><a href="{{ url_for ('sentiment')}}">Sentiment</a> uses Natural Language Programming techniques, sentiment analysis and Twitter streaming, using the TextBlob and Tweepy modules, to track online sentiment toward Joe Biden.</p>
            </li>
            <li>
                <p><i class="fab fa-sistrix"></i><a href="{{ url_for ('scrabbler')}}">Scrabbler</a> is a bit of python code that finds words to help me win at Scrabble. </p>
            </li>
        </ul>
        <p>Links to the code can be found on each page, or you can go straight to my <a target="_blank" href="https://github.com/ed100miles/Portfolio">github</a><i class="fab fa-github"></i>
        </p>
    </div>
</div>

{% endblock %}

