{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="fadeIn">
    <div class="img-div">
        <h1>Hi! I'm Ed Miles... </h1>
        <img src="{{url_for('static', filename='/imgs/me.JPG') }}" class="meImg">
    </div>

    <div>
        <br>
        <p>Thanks for visiting my site.</p>

        <p>I live in London and currently work in finance. But since buying my first Raspberry Pi a few 
             years ago, all I've wanted to do is code. I've mainly been learning Python, but I've picked up 
            lots of other <a href="{{ url_for ('skills')}}">skills</a> along the way. 
        </p>

        <p>
            Now I want to turn my hobby into a career. 
        </p>
        
        <p>
            So if you're looking for someone smart, hard working and eager to keep on learning, 
            please send me an <a href="mailto:edmilestech@gmail.com">email</a>.
        </p>

        <p>
            If you're interested in seeing what I can do, why not check out my <i>'Scrabbler' </i> <a href="{{ url_for ('scrabbler')}}">project.</a> 
            The video below gives you a sneak peak at what it does, and you can find the source code on my <a target="_blank" href="https://github.com/ed100miles/Portfolio">github</a>.
        </p>
    </div>
</div>

{% endblock %}

